.about {
  padding: 4rem 0;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
}
.about-img {
  margin: 3rem 0;
}
.about-info {
  margin-top: 3rem;
}
.about-img {
  position: relative;
}

.about-img img {
  width: 100%;
  display: block;
  box-shadow: var(--lightShadow);
}
.about-img div {
  box-shadow: var(--lightShadow);
}
.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

.viaferrata-section {
  width: 33.3%;
}
.viaferrata-section > div {
  max-height: 400px;
}

.ferrata-headertext-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.viaferrata-opis {
  width: 80vw;
  font-size: 1.2rem;
  margin: 0rem auto;
  margin-bottom: 6rem;
  line-height: 2.2rem;
}

.viaferata-opis-head {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--primaryColor);
}

.about-cont {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }
  .about-cont {
    margin-top: 2rem;
  }

  .viaferrata-opis {
    width: 80vw;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 500px;
  }
  .img-container {
    max-height: 500px;
  }
  .about-info p {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
  .viaferrata-opis {
    width: 70vw;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    width: 95vw;
    max-width: 1170px;
  }
  .viaferrata-opis {
    width: 60vw;
  }
}

.services {
  background: var(--mainGrey);
  padding: 3rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}
.service span {
  background: var(--primaryColor);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service h4 {
  text-transform: uppercase;
}
.links {
  color: var(--mainBlack);
  cursor: pointer;
}

